body,
nav,
ul {
    padding: 0;
    margin: 0;
}

.grey {
    background-color: #333333;
}

#main-header-container {
    width: 100%;
    position: relative;
}

#header-inner {
    height: 80px;
}

#header-logo-container {
    width: 200px;
    margin: 0;
    padding: 0 0 0 150px;
}

#header-nav-container {
    float: right;
    height: 100%;
}

#nav-header ul {
    list-style: none;
    padding: 0 290px 0 0;
    margin: 15px 0 15px 0;
}

#nav-header li {
    text-decoration: none;
    display: inline-block;
    padding: 15px 10px 0 0;
}

#nav-header a {
    text-decoration: none;
    color: #fff;
    font-family: 'Poppins', sans-serif;
}

#nav-header a:hover {
    color: #DD1A32;
}

.Search-Box {
    margin-top: -3px;
    position: absolute;
    top: 23px;
    right: 90px;
    display: inline-block;
}

.input {
    position: absolute;
    box-sizing: border-box;
    top: 0px;
    width: 0px;
    height: 43px;
    border: 3px solid #DD1A32;
    border-radius: 50px;
    padding: 0 20px;
    outline: none;
    color: #DD1A32;
    transition: all 0.8s ease;
    right: 0px;
    background-color: #DD1A32;
    color: #fff;
    font-family: 'Poppins', sans-serif;
}

::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #fff;
}

.input.active {
    width: 200px;
    right: 0px;
}

.btn {
    position: absolute;
    width: 50px;
    height: 50px;
    background: #DD1A32;
    border-radius: 50%;
    right: -1px;
    top: -3px;
    cursor: pointer;
    text-align: center;
    line-height: 50px;
    color: #fff;
    transition: all 0.8s ease;
}

.btn.selected {
    background-color: white;
    transform: rotate(360deg);
    color: #DD1A32;
}

.body-section {
    height: auto;
    margin-top: 2em;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.body-header {
    margin: 5em 0 0 15em;
    width: auto;
    display: inline-block;
}

.body-header>h1 {
    color: #DD1A32;
    font-family: 'Poppins', sans-serif;
    text-align: left;
    font-size: 1.8em;
}

.body-header>p {
    text-align: left;
    font-family: 'Poppins', sans-serif;
    font-size: 1em;
    width: 85%;
}

.grid-section {
    max-width: 1800px;
    margin: 0 auto;
    padding: 2% 2%;
}

.grid-grid {
    margin: 20px 0 0 0;
    padding: 0;
    list-style: none;
    display: block;
    text-align: center;
    width: 100%;
}

.grid-grid:after {
    clear: both;
}

.grid-grid:after,
.grid-grid:before {
    content: "";
    display: table;
}

.grid-grid li {
    width: 290px;
    height: 250px;
    display: inline-block;
    margin: 10px;
}

.grid-box {
    width: 100%;
    height: 100%;
    position: relative;
    cursor: pointer;
    -webkit-transition: 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out, -moz-transform 0.3s ease-in-out;
    transition: 0.3s ease-in-out, transform 0.3s ease-in-out;
    opacity: 1;
}

.grid-box:hover {
    transform: scale(1.05);
}

.grid-box-1 {
    background-color: #383f96;
}

.grid-box-2 {
    background-color: #4EC45E;
}

.grid-box-3 {
    background-color: #E21D39;
}

.grid-box-4 {
    background-color: #2FB6E1;
}

.grid-box-5 {
    background-color: #F6BE24;
}

.grid-box-6 {
    background-color: #FFB88F;
}

.grid-box-7 {
    background-color: #841717;
}

.grid-box-8 {
    background-color: #2E2E2E;
}

.grid-box-9 {
    background-color: #8474F1;
}

.grid-box-10 {
    background-color: #DE56CC;
}

.grid-info {
    position: absolute;
    height: 250px;
    width: 290px;
}

.grid-info img {
    margin: 20px 75px 0 70px;
}

.grid-info p {
    background-color: rgba(100, 99, 99, .8);
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    width: 250px;
    padding: 8.5px 20px;
    color: white;
    margin: 28px 0 0 0;
}

#main-footer-container {
    height: 300px;
    width: 100%;
    z-index: 100;
    margin: 600px 0 0 0;
}

.foot {
    width: 100%;
    margin: 0 auto;
    background: #333;
    color: #fff;
    font-size: 0.875rem;
    font-weight: 300;
    line-height: 1.25rem;
    display: grid;
    grid-template-columns: 100px 1fr 1fr 100px;
    grid-template-rows: auto;
}

.foot-left-coll {
    grid-column-start: 2;
    grid-column-end: 3;
}

.foot-right-coll {
    grid-column-start: 3;
    grid-column-end: 4;
}

.foot-logo {
    margin-bottom: 20px;
}

.foot-address {
    font-family: 'Poppins', sans-serif;
    color: #a9a9a9;
    font-size: 16px;
    margin-bottom: 20px;
}

.foot-telephone {
    margin-bottom: 20px;
    color: #a9a9a9;
    font-size: 16px;
}

.foot-copyright {
    color: #a9a9a9;
    font-size: 16px;
}

.social-heading {
    font-size: 16px;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    padding: 10px;
}

.list-social {
    list-style: none;
}

.list-social>li {
    float: left;
    padding: 10px;
    margin-left: 10px;
}

.foot-links-left {
    clear: both;
    width: 25%;
    float: left;
    font-size: 14px;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    padding: 10px;
}

.foot-links-mid {
    float: left;
    width: 25%;
    font-size: 14px;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    padding: 10px;
}

.foot-links-right {
    float: left;
    width: 25%;
    font-size: 14px;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    padding: 10px;
}

.foot-list-links {
    list-style: none;
}

.foot-list-links li {
    list-style: none;
    padding-bottom: 10px;
}

a {
    text-decoration: none;
    color: #a9a9a9;
    text-transform: none;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}

@media screen and (max-width: 1170px) {
    #header-logo-container {
        margin-left: -90px;
    }
    .foot-left-coll {
        grid-column-start: 1;
        grid-column-end: 3;
    }
    .foot-right-coll {
        grid-column-start: 3;
        grid-column-end: 5;
    }
    .foot-logo,
    .foot-address,
    .foot-telephone,
    .foot-copyright {
        margin-left: 10px;
    }
    .foot-links-left {
        width: 30%;
    }
    .foot-links-mid {
        width: 30%;
    }
    .foot-links-right {
        float: right;
        width: 30%;
        font-size: 14px;
        text-transform: uppercase;
        font-family: 'Poppins', sans-serif;
        padding: 10px;
    }
}

.navbar-toggle {
    display: none;
}



@media screen and (max-width: 1020px) {
    .foot-left-coll {
        grid-column-start: 1;
        grid-column-end: 5;
    }
    .foot-right-coll {
        grid-column-start: 1;
        grid-column-end: 5;
    }
    .social-heading {
        text-align: center;
    }
    .social-icons {
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (max-width: 1545px) {
    .body-header {
        margin: 3em 0 0 10em;
    }
}

@media screen and (max-width: 1100px) {
    .body-header {
        margin: 0 0 0 5em;
    }
    .body-header>p {
        text-align: left;
        font-family: 'Poppins', sans-serif;
        font-size: 1em;
        width: 90%;
    }
}

@media screen and (max-width: 790px) {
    .body-header {
        margin: 0 0 0 5em;
    }
    .body-header>p {
        font-size: 1em;
        width: 90%;
    }
}

@media screen and (max-width: 666px) {
    .body-header {
        margin: 3em .5em 0 .5em;
    }
    .body-header>p {
        text-align: center;
        font-size: 1em;
        width: 100%;
    }
    .body-header>h1 {
        text-align: center;
    }
    .grid-grid {
        width: 100%;
    }
    .grid-grid li {
        width: 100%;
        margin: 0 0 .5em 0;
    }
    .grid-section {
        margin: 0;
        padding: 0;
    }
    .grid-info {
        width: 100%;
    }
    .grid-info img {
        margin: 20px 20% 0 20%;
    }
    .grid-info p {
        width: 100%;
        padding: 9.5px 0;
    }
}

@media screen and (max-width: 400px) {
    .body-header {
        text-align: center;
        margin: 0em 0 0 1em;
    }
    .body-header>p {
        text-align: center;
        font-size: .8em;
        width: 90%;
        padding: 2% 2%;
    }
    .body-header>h1 {
        text-align: center;
        padding: 2% 2%;
    }
}

@media screen and (max-width: 1170px) {
    #header-logo-container {
        margin-left: -90px;
    }
}

@media screen and (max-width: 1080px) {
    .navbar-toggle {
        position: absolute;
        top: 10px;
        right: 20px;
        cursor: pointer;
        color: rgba(255, 255, 255, 0.8);
        font-size: 24px;
        display: inline-block;
        margin-top: 18px;
        margin-right: 30px;
    }
    .main-nav {
        list-style-type: none;
        display: none;
    }
    #header-inner.active {
        height: 325px;
    }
    #main-header-container {
        height: 100px;
    }
    #header-logo-container {
        display: inline-block;
        margin-left: -90px;
        position: absolute;
        margin-top: -160px;
    }
    #header-logo-container.active {
        display: inline-block;
        position: absolute;
        margin-top: -650px;
    }
    #header-nav-container {
        float: none;
        height: 200%;
        text-align: center;
        padding: 0 0 0 130px;
        /*         THIS THIS THIS */
    }
    #nav-header ul {
        list-style: none;
        padding: 47px 121px 1000px 0;
        margin: 15px 0 15px 0;
        display: none;
    }
    #nav-header ul.active {
        display: inline-block;
        /* padding-left: 7%; */
       
    }
    #nav-header li {
        text-decoration: none;
        display: block;
        padding: 15px 10px 0 0;
        text-align: center;
    }
    #nav-header a {
        text-decoration: none;
        color: #fff;
        font-family: 'Poppins', sans-serif;
    }
    #nav-header a:hover {
        color: #DD1A32;
    }
    /* #body-section.active {
        padding-top: 220px;
    } */

    #body-section.active {
        padding-top: 220px;
    }
}

@media screen and (max-width: 700px) {
    #header-logo-container {
        margin-left: -140px;
    }
    .foot-links-left.foot-links-right {
        width: 20%;
    }
    .foot-links-mid {
        margin-left: auto;
        margin-right: auto;
        width: 20%;
    }
}

@media screen and (max-width: 430px) {
    /*     #header-logo-container {
        display: none;
    } */
}